In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [7]:
#Show the "stacked" data, note how there are multiple variables and values for the dates
dframe

          date variable     value
0   2000-01-03        A -0.127299
1   2000-01-04        A  0.558358
2   2000-01-05        A -1.202396
3   2000-01-06        A -1.299260
4   2000-01-07        A  0.647600
..         ...      ...       ...
115 2000-02-07        D -1.003484
116 2000-02-08        D  1.708736
117 2000-02-09        D -0.050442
118 2000-02-10        D  0.163365
119 2000-02-11        D -0.528151

[120 rows x 3 columns]

In [9]:
# Now let's pivot the data

# First two value spassed are teh row and column indexes, then finally an optional fill value
dframe_piv=dframe.pivot("date","variable","value")
#Show
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.127299  0.875547 -1.038438 -0.958317
2000-01-04  0.558358  0.705000 -1.604749 -0.019444
2000-01-05 -1.202396 -0.303387 -1.855364 -0.356659
2000-01-06 -1.299260  2.761522  0.568415  0.630235
2000-01-07  0.647600  0.678497 -2.114456  1.057845
2000-01-10  0.713017 -0.009398 -1.870150  0.074315
2000-01-11  0.282635 -1.234124  0.402576 -0.690128
2000-01-12  0.523283  1.572899 -0.995453 -0.699948
2000-01-13  0.294959  1.993071  0.389718  2.419733
2000-01-14  0.483559  1.181029 -0.787243  0.761738
2000-01-17 -0.599241  1.133461 -0.252347 -1.627801
2000-01-18  0.451859  0.069532  1.487178  0.698588
2000-01-19 -0.414740 -0.371002 -2.096576  0.568289
2000-01-20 -0.547790  0.674342  1.100370  0.330928
2000-01-21  0.372081  2.095421  1.320608 -0.422264
2000-01-24  1.272650 -0.501944  0.767314  0.493044
2000-01-25 -1.284325  0.372318  0.160633  0.379990
2000-01-26 -0.257882 -0.323487  0.028250 -0.722699
2000-01-27 -0.861242  0.330514  1.073430  0.420707
2000-01-28  0.697873  1.217110 -0.933724 -0.719040
2000-01-31  0.308079 -0.358820 -0.400154  0.268931
2000-02-01 -0.936376 -0.385800  0.531823  1.088560
2000-02-02 -0.173862  0.617034 -0.827507 -1.854635
2000-02-03 -0.379626  1.230739 -1.641012 -0.660370
2000-02-04 -0.235328  0.670089  0.192120  0.410533
2000-02-07  0.019161  0.003758  1.360778 -1.003484
2000-02-08 -0.465493 -0.488533  0.938809  1.708736
2000-02-09  2.276960  1.828280  0.033105 -0.050442
2000-02-10  0.571549 -0.429622 -0.538083  0.163365
2000-02-11  0.697173  0.454309 -1.060951 -0.528151

In [70]:
#Next we'll learn about duplicates in DataFrames!