In [2]:
# We can import data using lxml

from pandas import read_html
import pandas as pd
from pandas import Series, DataFrame

In [7]:
#Lets grab a url for list of failed banks
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

In [8]:

"""
IMPORTANT NOTE: NEED TO HAVE beautiful-soup INSTALLED as well as html5lib !!!!

"""

'\nIMPORTANT NOTE: NEED TO HAVE beautiful-soup INSTALLED as well as html5lib !!!!\n\n'

In [9]:
# Grab data from html and put it intop a list of DataFrame objects!
dframe_list = pd.io.html.read_html(url)

In [10]:
#Grab the first list item from the data base and set as a DataFrame
dframe = dframe_list[0]

In [11]:
#Show
dframe

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
1,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
2,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
3,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
4,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
...,...,...,...,...,...,...,...
561,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
562,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
563,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
564,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
565,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [12]:
dframe.columns.values

array(['Bank NameBank', 'CityCity', 'StateSt', 'CertCert',
       'Acquiring InstitutionAI', 'Closing DateClosing', 'FundFund'],
      dtype=object)

In [ ]:
#Next we'll learn about working with Excel files!