In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [10]:
#Let's see how stack and unstack work
dframe1=DataFrame(np.arange(8).reshape(2,4),index=pd.Index(["LA","SF"],name="City"),columns=pd.Index(["A","B","C","d"],name="Letters"))
# Create DataFrame
dframe1

Letters  A  B  C  d
City
LA       0  1  2  3
SF       4  5  6  7

In [15]:
# Use stack to pivot the columns into the rows

dframe_st=dframe1.stack()
#Show
dframe_st

City  Letters
LA    A          0
      B          1
      C          2
      d          3
SF    A          4
      B          5
      C          6
      d          7
dtype: int32

In [16]:
#We can always rearrange back into a DataFrame
dframe_st.unstack()

Letters  A  B  C  d
City
LA       0  1  2  3
SF       4  5  6  7

In [18]:
#We can choose which level to unstack by
dframe_st.unstack(1)

Letters  A  B  C  d
City
LA       0  1  2  3
SF       4  5  6  7

In [25]:
# Also by which name to unstack by
dframe_st.unstack("Letters")

Letters  A  B  C  d
City
LA       0  1  2  3
SF       4  5  6  7

In [26]:
# Also by which name to unstack by
dframe_st.unstack("City")

City     LA  SF
Letters
A         0   4
B         1   5
C         2   6
d         3   7

In [27]:
# Let's see how stack and unstack handle NAN

#Make two series
ser1 = Series([0, 1, 2], index=['Q', 'X', 'Y'])
ser2 = Series([4, 5, 6], index=['X', 'Y', 'Z'])

#Concat to make a dframe
dframe = pd.concat([ser1, ser2], keys=['Alpha', 'Beta'])

# Unstack resulting DataFrame
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [28]:
# Now stack will filter out NAN by default
dframe.unstack().stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [29]:
# IF we dont want this we can set it to False
dframe.unstack().stack(dropna=False)

Alpha  Q    0.0
       X    1.0
       Y    2.0
       Z    NaN
Beta   Q    NaN
       X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [30]:
# Next we'll learn more abot Pivoting DataFrames!