In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [7]:
# Can open csv files as a dataframe

dframe=pd.read_csv("lec25.csv",delimiter=",",header=None)
#Show
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [18]:
# Can also use read_table with ',' as a delimiter
dframe=pd.read_table("lec25.csv",delimiter=",",header=None)

#Show
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [19]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [20]:
# We can also indicate a particular number of rows to be read
pd.read_table("lec25.csv",delimiter=",",header=None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [21]:
# Let's see dframe again
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [23]:
# Now let's see how we can write DataFrames out to text files

dframe.to_csv("write_to_csv.csv")
#You'll see this file where you're ipython Notebooks are saved (Usually under my documents)

In [26]:
#  We can also use other delimiters

#we'll import sys to see the output
import sys 

#Use sys.stdout to see the output directly and not save it
dframe.to_csv(sys.stdout,sep="_")

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [27]:
# Just to make sure we understand the delimiter
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

In [28]:
#We can also choose to write only a specific subset of columns
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [33]:
#You should also check out pythons built-in csv reader and writer for more info:
# https://docs.python.org/3/library/csv.html

In [30]:
#Next we'll learn about reading JSON data!